.vs

#obj
**/x64/
*.obj

#exe
**/bin_d/*.exe
**/bin_d/*.pdb
**/bin/*.exe
**/bin/*.pdb

#lib
**/Content/Debug/*
**/Content/Release/*
**/Engine/Debug/*
**/Engine/Release/*

#hlsl
*.cso

#dpend
*/dpend.diff
